[submodule "token-extensions"]
	path = token-extensions
	url = https://github.com/KarthikeyaGundumogula/token-extensions.git
[submodule "escrow-litesvm"]
	path = escrow-litesvm
	url = https://github.com/KarthikeyaGundumogula/escrow-litesvm.git
[submodule "whitelisted-vault-token"]
	path = whitelisted-vault-token
	url = https://github.com/KarthikeyaGundumogula/whitelisted-vault-token.git
[submodule "er-vrf"]
	path = er-vrf
	url = https://github.com/KarthikeyaGundumogula/er-vrf.git
